Repository keigu-sjinn/rcli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check || cargo fmt'
  language: rust
  args: []

cargo-deny:
  name: cargo deny check
  description: Check cargo dependencies
  entry: bash -c 'cargo deny check -d'
  language: rust
  args: []

typos:
  name: typos
  description: check typo
  entry: bash -c 'typos'
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: bash -c 'cargo check --all'
  language: rust
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: bash -c 'cargo nextest run --all-features --no-tests pass'
  language: rust
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

add colored style for CLI
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

move anstyle crate to dependencies scope
  CHANGELOG.md
  Cargo.toml
Due: typos, cargo-sort

move colored crate into #[cfg(windows)] scope
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

fix `no color output on windows` bug
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

change `Options` color to Green
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

CLI with colored font finished.
  .gitignore
  CHANGELOG.md
Due: typos

add red style to Error
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

change type of header to bool from Option<bool>
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

start process subcommand
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/process.rs
  src/subcmd.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

add convert to csv function
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/process.rs
  src/subcmd.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

add convert to yaml function
  CHANGELOG.md
  src/process.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

add convert toml function
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/process.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

feature: Reconstruct csv function
  CHANGELOG.md
  src/cli/csv/arg.rs
  src/cli/csv/mod.rs
  src/cli/csv/process.rs
  src/cli/mod.rs
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

feature:add genpwd function
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/cli/csv/arg.rs
  src/cli/csv/process.rs
  src/cli/genpwd/arg.rs
  src/cli/genpwd/mod.rs
  src/cli/genpwd/process.rs
  src/cli/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

modify action .github/workflows/build
  .github/workflows/build.yml
Due: typos

modify build.yml
  CHANGELOG.md
Due: typos

fix workflows/build.yml bug
  .github/workflows/build.yml
  CHANGELOG.md
Due: typos

add runs-on:ubuntu-latest
  .github/workflows/build.yml
  CHANGELOG.md
Due: typos

delete runs-on in cliff
  .github/workflows/build.yml
  CHANGELOG.md
Due: typos

feature: add base64 encode/decode function
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/cli/base64/arg.rs
  src/cli/base64/mod.rs
  src/cli/base64/process.rs
  src/cli/csv/arg.rs
  src/cli/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test, cargo-sort

modify .pre-commit-config.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  cliff.toml
  src/cli/base64/arg.rs
  src/cli/csv/arg.rs
  src/cli/csv/process.rs
Due: cargo-fmt, cargo-deny, typos, cargo-check, cargo-clippy, cargo-test

feature: modify build.yml to complete build successfully
  .github/workflows/build.yml
Due: typos

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-deny: any of: \.rs$
  typos: any of: \.*$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-sort: any of: Cargo\.toml
